In [1]:
import pandas as pd
import sqlite3

In [2]:
csv_file_path = 'C:\\Users\\Mohit Lahoti\\Downloads\\Compressed\\movie_name.csv'
data = pd.read_csv(csv_file_path)

In [3]:
import os

# Get the current working directory
current_directory = os.getcwd()

# Specify the SQLite database file name
sqlite_db_filename = 'my_database.db'

# Construct the full path to the SQLite database
sqlite_db_path = os.path.join(current_directory, sqlite_db_filename)

print("SQLite Database Path:", sqlite_db_path)

SQLite Database Path: C:\Users\Mohit Lahoti\my_database.db

In [4]:
sqlite_db_path = 'path_to_your_sqlite_database.db'
conn = sqlite3.connect(sqlite_db_path)

In [5]:
table_name = 'Movie_Data_1'
data.to_sql(table_name, conn, index=False, if_exists='replace')

1750

In [6]:

table_name = 'Movie_Data_1'
query = f"SELECT * FROM {table_name};"
data = pd.read_sql(query, conn)

print(data)

        SNO                                         Movie Name  \
0         1                                    The Dark Knight
1         2      The Lord of the Rings: The Return of the King
2         3                Spider-Man: Across the Spider-Verse
3         4                                          Inception
4         5  The Lord of the Rings: The Fellowship of the Ring
...     ...                                                ...
1745  1,746                                               Krym
1746  1,747                                          Barb Wire
1747  1,748              Spy Kids 4: All the Time in the World
1748  1,749                                              D-War
1749  1,750                                           Catwoman

          Director Name1 Director Name2       Director Name3 Duration  \
0      Christopher Nolan           None                 None  152 min
1          Peter Jackson           None                 None  201 min
2     Joaquim Dos Santos    Kemp Powers   Justin K. Thompson  140 min
3      Christopher Nolan           None                 None  148 min
4          Peter Jackson           None                 None  178 min
...                  ...            ...                  ...      ...
1745     Aleksey Pimanov           None                 None   99 min
1746         David Hogan           None                 None   98 min
1747    Robert Rodriguez           None                 None   89 min
1748      Hyung-rae Shim           None                 None  107 min
1749               Pitof           None                 None  104 min

          Year  Rating  Metascore
0         2008     9.0       84.0
1         2003     9.0       94.0
2         2023     8.9       86.0
3         2010     8.8       74.0
4         2001     8.8       92.0
...        ...     ...        ...
1745  I) (2017     3.6        NaN
1746      1996     3.5       40.0
1747      2011     3.5       37.0
1748      2007     3.5       33.0
1749      2004     3.4       27.0

[1750 rows x 9 columns]

In [7]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [8]:
print(data.columns)

Index(['SNO', 'Movie Name', 'Director Name1', 'Director Name2',
       'Director Name3', 'Duration', 'Year', 'Rating', 'Metascore'],
      dtype='object')

In [9]:
# SQL query 1
query = """
SELECT *
FROM {table}
WHERE 'Christopher' IN ("Director Name1", "Director Name2", "Director Name3")
   OR 'Matt Reeves' IN ("Director Name1", "Director Name2", "Director Name3");
""".format(table=table_name)

In [10]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [11]:
# Display the data
print(data)

   SNO                      Movie Name Director Name1 Director Name2  \
0  131                      The Batman    Matt Reeves           None
1  228  Dawn of the Planet of the Apes    Matt Reeves           None
2  311  War for the Planet of the Apes    Matt Reeves           None
3  519                     Cloverfield    Matt Reeves           None

  Director Name3 Duration  Year  Rating  Metascore
0           None  176 min  2022     7.8       72.0
1           None  130 min  2014     7.6       79.0
2           None  140 min  2017     7.4       82.0
3           None   85 min  2008     7.0       64.0

In [12]:
# SQL query 2
query = """
SELECT *
FROM {table}
WHERE Duration BETWEEN 140 AND 190;
""".format(table=table_name)

In [13]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [14]:
# Display the data
print(data)

       SNO                                         Movie Name  \
0        1                                    The Dark Knight
1        3                Spider-Man: Across the Spider-Verse
2        4                                          Inception
3        5  The Lord of the Rings: The Fellowship of the Ring
4        6              The Lord of the Rings: The Two Towers
..     ...                                                ...
197  1,691                                          Shamshera
198  1,692                          Kisi Ka Bhai Kisi Ki Jaan
199  1,701                                             Ra.One
200  1,702                                             Bharat
201  1,716                                           Shehzada

         Director Name1 Director Name2       Director Name3 Duration  Year  \
0     Christopher Nolan           None                 None  152 min  2008
1    Joaquim Dos Santos    Kemp Powers   Justin K. Thompson  140 min  2023
2     Christopher Nolan           None                 None  148 min  2010
3         Peter Jackson           None                 None  178 min  2001
4         Peter Jackson           None                 None  179 min  2002
..                  ...            ...                  ...      ...   ...
197      Karan Malhotra           None                 None  178 min  2022
198        Farhad Samji           None                 None  145 min  2023
199       Anubhav Sinha           None                 None  156 min  2011
200     Ali Abbas Zafar           None                 None  150 min  2019
201        Rohit Dhawan           None                 None  142 min  2023

     Rating  Metascore
0       9.0       84.0
1       8.9       86.0
2       8.8       74.0
3       8.8       92.0
4       8.8       87.0
..      ...        ...
197     4.8        NaN
198     4.7        NaN
199     4.7       60.0
200     4.7        NaN
201     4.5        NaN

[202 rows x 9 columns]

In [15]:
# SQL query 3
query = """
SELECT *
FROM {table}
WHERE Rating > 7
ORDER BY Rating ASC;
""".format(table=table_name)

In [16]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [17]:
# Display the data
print(data)

     SNO                                         Movie Name  \
0    433                                       Extraction 2
1    434                                Mission: Impossible
2    435                                       Man of Steel
3    436                                          The Mummy
4    437                                     Tropic Thunder
..   ...                                                ...
489    5  The Lord of the Rings: The Fellowship of the Ring
490    6              The Lord of the Rings: The Two Towers
491    3                Spider-Man: Across the Spider-Verse
492    1                                    The Dark Knight
493    2      The Lord of the Rings: The Return of the King

         Director Name1 Director Name2       Director Name3 Duration  Year  \
0          Sam Hargrave           None                 None  122 min  2023
1        Brian De Palma           None                 None  110 min  1996
2           Zack Snyder           None                 None  143 min  2013
3       Stephen Sommers           None                 None  124 min  1999
4           Ben Stiller           None                 None  107 min  2008
..                  ...            ...                  ...      ...   ...
489       Peter Jackson           None                 None  178 min  2001
490       Peter Jackson           None                 None  179 min  2002
491  Joaquim Dos Santos    Kemp Powers   Justin K. Thompson  140 min  2023
492   Christopher Nolan           None                 None  152 min  2008
493       Peter Jackson           None                 None  201 min  2003

     Rating  Metascore
0       7.1       57.0
1       7.1       59.0
2       7.1       55.0
3       7.1       48.0
4       7.1       71.0
..      ...        ...
489     8.8       92.0
490     8.8       87.0
491     8.9       86.0
492     9.0       84.0
493     9.0       94.0

[494 rows x 9 columns]

In [18]:
# SQL query 4
query = """
SELECT "Movie Name"
FROM {table}
ORDER BY "Movie Name" DESC;
""".format(table=table_name)

In [19]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [20]:
# Display the data
print(data)

                      Movie Name
0                   Ölümlü Dünya
1                       Æon Flux
2        xXx: State of the Union
3     xXx: Return of Xander Cage
4                            xXx
...                          ...
1745                   12 Rounds
1746                   10,000 BC
1747             1 - Nenokkadine
1748                         '71
1749                   #Saraitda

[1750 rows x 1 columns]

In [21]:
# SQL query 5
query = """
SELECT "Movie Name", Rating
FROM {table}
WHERE "Movie Name" LIKE 'P%' AND Rating > 7;
""".format(table=table_name)

In [22]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [23]:
# Display the data
print(data)

                                           Movie Name  Rating
0                                    Paan Singh Tomar     8.2
1   Pirates of the Caribbean: The Curse of the Bla...     8.1
2                             Per un pugno di dollari     7.9
3                                            Predator     7.8
4                                  Ponniyin Selvan: I     7.6
5                           Pushpa: The Rise - Part 1     7.6
6                                      Predestination     7.4
7          Pirates of the Caribbean: Dead Man's Chest     7.3
8                                        Patriots Day     7.3
9                                         Point Break     7.2
10                                               Prey     7.1
11           Pirates of the Caribbean: At World's End     7.1
12                                      Planet Terror     7.1
13                                            Payback     7.1

In [24]:
# Close the database connection
conn.close()

#Table 2

In [25]:
csv_file_path = 'C:\\Users\\Mohit Lahoti\\Downloads\\Compressed\\stars_name.csv'
data = pd.read_csv(csv_file_path)

In [26]:
# Get the current working directory
current_directory = os.getcwd()

# Specify the SQLite database file name
sqlite_db_filename = 'my_database.db'

# Construct the full path to the SQLite database
sqlite_db_path = os.path.join(current_directory, sqlite_db_filename)

print("SQLite Database Path:", sqlite_db_path)

SQLite Database Path: C:\Users\Mohit Lahoti\my_database.db

In [27]:
sqlite_db_path = 'path_to_your_sqlite_database.db'
conn = sqlite3.connect(sqlite_db_path)

In [28]:
table_name = 'Movie_Data_2'
data.to_sql(table_name, conn, index=False, if_exists='replace')

1751

In [29]:
table_name = 'Movie_Data_2'
query = f"SELECT * FROM {table_name};"
data = pd.read_sql(query, conn)

print(data)

                                             Movie Name        Stars Name1  \
0                                       The Dark Knight     Christian Bale
1         The Lord of the Rings: The Return of the King        Elijah Wood
2                   Spider-Man: Across the Spider-Verse      Shameik Moore
3                                             Inception  Leonardo DiCaprio
4     The Lord of the Rings: The Fellowship of the Ring        Elijah Wood
...                                                 ...                ...
1746                                               Krym      Roman Kurtsyn
1747                                          Barb Wire    Pamela Anderson
1748              Spy Kids 4: All the Time in the World       Jessica Alba
1749                                              D-War         Jason Behr
1750                                               None     Christian Bale

                Stars Name2         Stars Name3         Stars Name4  \
0              Heath Ledger       Aaron Eckhart       Michael Caine
1           Viggo Mortensen        Ian McKellen       Orlando Bloom
2          Hailee Steinfeld   Brian Tyree Henry   Luna Lauren Velez
3      Joseph Gordon-Levitt         Elliot Page        Ken Watanabe
4              Ian McKellen       Orlando Bloom           Sean Bean
...                     ...                 ...                 ...
1746        Evgeniya Lapova       Pavel Kraynov      Pavel Trubiner
1747          Amir AboulEla   Adriana Alexander      David Andriole
1748           Jeremy Piven         Joel McHale     Rowan Blanchard
1749          Amanda Brooks      Robert Forster      Craig Robinson
1750                   None                None                None

          Votes     Genre1               Genre2                  Genre3  \
0     2,739,255     Action                Crime       Drama
1     1,898,117     Action            Adventure       Drama
2       182,431  Animation               Action   Adventure
3     2,430,810     Action            Adventure      Sci-Fi
4     1,926,549     Action            Adventure       Drama
...         ...        ...                  ...                     ...
1746     33,496     Action    Drama                                None
1747     30,451     Action   Sci-Fi                                None
1748     27,159     Action            Adventure      Comedy
1749     25,068     Action                Drama     Fantasy
1750       None       None                 None                    None

     Gross Collection  Popularity Certification
0            $534.86M         9.0            UA
1            $377.85M         9.0             U
2               *****         8.9             U
3            $292.58M         8.8            UA
4            $315.54M         8.8             U
...               ...         ...           ...
1746            *****         3.6          None
1747           $3.79M         3.5            UA
1748          $38.54M         3.5            PG
1749          $10.98M         3.5         PG-13
1750             None         NaN          None

[1751 rows x 12 columns]

In [30]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [31]:
print(data.columns)

Index(['Movie Name', 'Stars Name1', 'Stars Name2', 'Stars Name3',
       'Stars Name4', 'Votes', 'Genre1', 'Genre2', 'Genre3',
       'Gross Collection', 'Popularity', 'Certification'],
      dtype='object')

In [32]:
# SQL query 1
query = """
SELECT "Movie Name", "Stars Name1", "Stars Name2", "Stars Name3", "Stars Name4"
FROM {table}
WHERE "Stars Name1" = 'Arnold Schwarzenegger'
   OR "Stars Name2" = 'Arnold Schwarzenegger'
   OR "Stars Name3" = 'Arnold Schwarzenegger'
   OR "Stars Name4" = 'Arnold Schwarzenegger'
ORDER BY "Movie Name" ASC;
""".format(table=table_name)

In [33]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [34]:
# Display the data
print(data)

                            Movie Name            Stars Name1  \
0                       Batman & Robin  Arnold Schwarzenegger
1                    Collateral Damage  Arnold Schwarzenegger
2                             Commando  Arnold Schwarzenegger
3                  Conan the Barbarian  Arnold Schwarzenegger
4                  Conan the Destroyer  Arnold Schwarzenegger
5                          End of Days  Arnold Schwarzenegger
6                               Eraser  Arnold Schwarzenegger
7                     Kindergarten Cop  Arnold Schwarzenegger
8                     Last Action Hero  Arnold Schwarzenegger
9                             Predator  Arnold Schwarzenegger
10                            Raw Deal  Arnold Schwarzenegger
11                            Red Heat  Arnold Schwarzenegger
12                           Red Sonja  Arnold Schwarzenegger
13                            Sabotage  Arnold Schwarzenegger
14          Terminator 2: Judgment Day  Arnold Schwarzenegger
15  Terminator 3: Rise of the Machines  Arnold Schwarzenegger
16                  Terminator Genisys  Arnold Schwarzenegger
17                         The 6th Day  Arnold Schwarzenegger
18                      The Last Stand  Arnold Schwarzenegger
19                     The Running Man  Arnold Schwarzenegger
20                      The Terminator  Arnold Schwarzenegger
21                        Total Recall  Arnold Schwarzenegger
22                           True Lies  Arnold Schwarzenegger

               Stars Name2        Stars Name3        Stars Name4
0           George Clooney   "Chris ODonnell"        Uma Thurman
1           John Leguizamo     Francesca Neri       Elias Koteas
2           Rae Dawn Chong         Dan Hedaya       Vernon Wells
3         James Earl Jones      Max von Sydow    Sandahl Bergman
4              Grace Jones      "Olivia dAbo"   Wilt Chamberlain
5            Gabriel Byrne       Robin Tunney       Kevin Pollak
6         Vanessa Williams         James Caan       James Coburn
7      Penelope Ann Miller        Pamela Reed         Linda Hunt
8        F. Murray Abraham         Art Carney      Charles Dance
9            Carl Weathers   Kevin Peter Hall   Elpidia Carrillo
10         Kathryn Harrold      Sam Wanamaker        Paul Shenar
11             Jim Belushi        Peter Boyle        "Ed ORoss"]
12        Brigitte Nielsen    Sandahl Bergman      Paul L. Smith
13         Sam Worthington    Terrence Howard    Olivia Williams
14          Linda Hamilton     Edward Furlong     Robert Patrick
15              Nick Stahl    Kristanna Loken       Claire Danes
16            Jason Clarke      Emilia Clarke       Jai Courtney
17        Michael Rapaport       Tony Goldwyn     Michael Rooker
18         Forest Whitaker   Johnny Knoxville    Rodrigo Santoro
19   Maria Conchita Alonso       Yaphet Kotto          Jim Brown
20          Linda Hamilton      Michael Biehn      Paul Winfield
21            Sharon Stone   Michael Ironside     Rachel Ticotin
22        Jamie Lee Curtis         Tom Arnold        Bill Paxton

In [35]:
# SQL query 2
query = """
SELECT *
FROM {table}
ORDER BY Votes DESC
LIMIT 1;
""".format(table=table_name)

In [36]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [37]:
# Display the data
print(data)

  Movie Name Stars Name1    Stars Name2      Stars Name3     Stars Name4  \
0    Lockout  Guy Pearce   Maggie Grace   Peter Stormare   Vincent Regan

    Votes  Genre1   Genre2                 Genre3 Gross Collection  \
0  99,906  Action   Sci-Fi   Thriller                      $14.33M

   Popularity Certification
0         6.0         PG-13

In [38]:
# SQL query 3
query = """
SELECT "Movie Name", "Gross Collection"
FROM {table}
ORDER BY "Gross Collection" DESC;
""".format(table=table_name)

In [39]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [40]:
# Display the data
print(data)

                               Movie Name Gross Collection
0     Spider-Man: Across the Spider-Verse            *****
1                         Soorarai Pottru            *****
2                                 Seppuku            *****
3                              Sita Ramam            *****
4                                  Kaithi            *****
...                                   ...              ...
1746            Knockin' on Heaven's Door           $0.00M
1747                         Son of a Gun           $0.00M
1748                        The Condemned           $0.00M
1749                            Wild Card           $0.00M
1750                                 None             None

[1751 rows x 2 columns]

In [41]:
# SQL query 4
query = """
SELECT "Movie Name", "Gross Collection"
FROM {table}
WHERE "Stars Name1" = 'Arnold Schwarzenegger'
   OR "Stars Name2" = 'Arnold Schwarzenegger'
   OR "Stars Name3" = 'Arnold Schwarzenegger'
   OR "Stars Name4" = 'Arnold Schwarzenegger';
""".format(table=table_name)

In [42]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [43]:
# Display the data
print(data)

                            Movie Name Gross Collection
0           Terminator 2: Judgment Day         $204.84M
1                       The Terminator          $38.40M
2                             Predator          $59.74M
3                         Total Recall         $119.39M
4                            True Lies         $146.28M
5                  Conan the Barbarian          $39.57M
6                             Commando          $35.10M
7                      The Running Man          $38.12M
8                     Last Action Hero          $50.02M
9   Terminator 3: Rise of the Machines         $150.37M
10                  Terminator Genisys          $89.76M
11                      The Last Stand          $12.05M
12                    Kindergarten Cop          $91.46M
13                              Eraser         $101.30M
14                            Red Heat          $34.99M
15                 Conan the Destroyer          $31.04M
16                         The 6th Day          $34.60M
17                         End of Days          $66.89M
18                            Sabotage          $10.51M
19                            Raw Deal          $16.21M
20                   Collateral Damage          $40.08M
21                           Red Sonja           $6.95M
22                      Batman & Robin         $107.33M

In [44]:
# SQL query
query = """
SELECT *
FROM {table}
WHERE "Genre1" = 'Comedy' OR "Genre2" = 'Comedy' OR "Genre3" = 'Comedy'
   OR "Genre1" = 'Action' OR "Genre2" = 'Action' OR "Genre3" = 'Action';
""".format(table=table_name)

In [45]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [46]:
# Display the data
print(data)

                                             Movie Name        Stars Name1  \
0                                       The Dark Knight     Christian Bale
1         The Lord of the Rings: The Return of the King        Elijah Wood
2                                             Inception  Leonardo DiCaprio
3     The Lord of the Rings: The Fellowship of the Ring        Elijah Wood
4                 The Lord of the Rings: The Two Towers        Elijah Wood
...                                                 ...                ...
1672                        Mortal Kombat: Annihilation         Robin Shou
1673                                               Krym      Roman Kurtsyn
1674                                          Barb Wire    Pamela Anderson
1675              Spy Kids 4: All the Time in the World       Jessica Alba
1676                                              D-War         Jason Behr

                Stars Name2         Stars Name3       Stars Name4      Votes  \
0              Heath Ledger       Aaron Eckhart     Michael Caine  2,739,255
1           Viggo Mortensen        Ian McKellen     Orlando Bloom  1,898,117
2      Joseph Gordon-Levitt         Elliot Page      Ken Watanabe  2,430,810
3              Ian McKellen       Orlando Bloom         Sean Bean  1,926,549
4              Ian McKellen     Viggo Mortensen     Orlando Bloom  1,712,970
...                     ...                 ...               ...        ...
1672            Talisa Soto         James Remar       Sandra Hess     56,693
1673        Evgeniya Lapova       Pavel Kraynov    Pavel Trubiner     33,496
1674          Amir AboulEla   Adriana Alexander    David Andriole     30,451
1675           Jeremy Piven         Joel McHale   Rowan Blanchard     27,159
1676          Amanda Brooks      Robert Forster    Craig Robinson     25,068

      Genre1               Genre2                Genre3 Gross Collection  \
0     Action                Crime     Drama                     $534.86M
1     Action            Adventure     Drama                     $377.85M
2     Action            Adventure    Sci-Fi                     $292.58M
3     Action            Adventure     Drama                     $315.54M
4     Action            Adventure     Drama                     $342.55M
...      ...                  ...                   ...              ...
1672  Action            Adventure   Fantasy                      $35.93M
1673  Action    Drama                              None            *****
1674  Action   Sci-Fi                              None           $3.79M
1675  Action            Adventure    Comedy                      $38.54M
1676  Action                Drama   Fantasy                      $10.98M

      Popularity Certification
0            9.0            UA
1            9.0             U
2            8.8            UA
3            8.8             U
4            8.8            UA
...          ...           ...
1672         3.6            UA
1673         3.6          None
1674         3.5            UA
1675         3.5            PG
1676         3.5         PG-13

[1677 rows x 12 columns]

In [47]:
# Close the database connection
conn.close()

# subquerys

In [48]:
# Get the current working directory
current_directory = os.getcwd()

In [49]:
# Specify the SQLite database file name
sqlite_db_filename = 'my_database.db'

In [50]:
# Construct the full path to the SQLite database
sqlite_db_path = os.path.join(current_directory, sqlite_db_filename)

In [51]:
# Connect to the database     
sqlite_db_path = 'path_to_your_sqlite_database.db'
conn = sqlite3.connect(sqlite_db_path)

In [52]:
# Define table names
table1_name = 'Movie_Data_1'
table2_name = 'Movie_Data_2'

In [53]:
#SQLSubquery 1
# SQL subquery to retrieve all details from both tables where movie names are the same
query = """
SELECT m1.*, m2.*
FROM Movie_Data_1 m1
INNER JOIN Movie_Data_2 m2 ON m1."Movie Name" = m2."Movie Name";
""".format(table=table_name)

In [55]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [56]:
# Display the data
print(data)

        SNO                                         Movie Name  \
0         1                                    The Dark Knight
1         2      The Lord of the Rings: The Return of the King
2         3                Spider-Man: Across the Spider-Verse
3         4                                          Inception
4         5  The Lord of the Rings: The Fellowship of the Ring
...     ...                                                ...
1804  1,745                        Mortal Kombat: Annihilation
1805  1,746                                               Krym
1806  1,747                                          Barb Wire
1807  1,748              Spy Kids 4: All the Time in the World
1808  1,749                                              D-War

          Director Name1 Director Name2       Director Name3 Duration  \
0      Christopher Nolan           None                 None  152 min
1          Peter Jackson           None                 None  201 min
2     Joaquim Dos Santos    Kemp Powers   Justin K. Thompson  140 min
3      Christopher Nolan           None                 None  148 min
4          Peter Jackson           None                 None  178 min
...                  ...            ...                  ...      ...
1804    John R. Leonetti           None                 None   95 min
1805     Aleksey Pimanov           None                 None   99 min
1806         David Hogan           None                 None   98 min
1807    Robert Rodriguez           None                 None   89 min
1808      Hyung-rae Shim           None                 None  107 min

          Year  Rating  Metascore  \
0         2008     9.0       84.0
1         2003     9.0       94.0
2         2023     8.9       86.0
3         2010     8.8       74.0
4         2001     8.8       92.0
...        ...     ...        ...
1804      1997     3.6       11.0
1805  I) (2017     3.6        NaN
1806      1996     3.5       40.0
1807      2011     3.5       37.0
1808      2007     3.5       33.0

                                             Movie Name  ...  \
0                                       The Dark Knight  ...
1         The Lord of the Rings: The Return of the King  ...
2                   Spider-Man: Across the Spider-Verse  ...
3                                             Inception  ...
4     The Lord of the Rings: The Fellowship of the Ring  ...
...                                                 ...  ...
1804                        Mortal Kombat: Annihilation  ...
1805                                               Krym  ...
1806                                          Barb Wire  ...
1807              Spy Kids 4: All the Time in the World  ...
1808                                              D-War  ...

                Stars Name2         Stars Name3         Stars Name4  \
0              Heath Ledger       Aaron Eckhart       Michael Caine
1           Viggo Mortensen        Ian McKellen       Orlando Bloom
2          Hailee Steinfeld   Brian Tyree Henry   Luna Lauren Velez
3      Joseph Gordon-Levitt         Elliot Page        Ken Watanabe
4              Ian McKellen       Orlando Bloom           Sean Bean
...                     ...                 ...                 ...
1804            Talisa Soto         James Remar         Sandra Hess
1805        Evgeniya Lapova       Pavel Kraynov      Pavel Trubiner
1806          Amir AboulEla   Adriana Alexander      David Andriole
1807           Jeremy Piven         Joel McHale     Rowan Blanchard
1808          Amanda Brooks      Robert Forster      Craig Robinson

          Votes     Genre1               Genre2                  Genre3  \
0     2,739,255     Action                Crime       Drama
1     1,898,117     Action            Adventure       Drama
2       182,431  Animation               Action   Adventure
3     2,430,810     Action            Adventure      Sci-Fi
4     1,926,549     Action            Adventure       Drama
...         ...        ...                  ...                     ...
1804     56,693     Action            Adventure     Fantasy
1805     33,496     Action    Drama                                None
1806     30,451     Action   Sci-Fi                                None
1807     27,159     Action            Adventure      Comedy
1808     25,068     Action                Drama     Fantasy

     Gross Collection Popularity  Certification
0            $534.86M        9.0             UA
1            $377.85M        9.0              U
2               *****        8.9              U
3            $292.58M        8.8             UA
4            $315.54M        8.8              U
...               ...        ...            ...
1804          $35.93M        3.6             UA
1805            *****        3.6           None
1806           $3.79M        3.5             UA
1807          $38.54M        3.5             PG
1808          $10.98M        3.5          PG-13

[1809 rows x 21 columns]

In [57]:
#subquery2
# Query for Movie_Data_1
query_1 = """
SELECT
    "Movie Name",
    "Director Name1",
    "Rating",
    "Gross Collection"
FROM
    Movie_Data_1
WHERE
    "Genre1" = 'action' OR
    "Genre2" = 'action' OR
    "Genre3" = 'action';
"""

# Query for Movie_Data_2
query_2 = """
SELECT
    "Movie Name",
    NULL AS "Director Name1",
    NULL AS "Rating",
    "Gross Collection"
FROM
    Movie_Data_2
WHERE
    "Genre1" = 'action' OR
    "Genre2" = 'action' OR
    "Genre3" = 'action';
"""

In [58]:
# Retrieve data into a DataFrame
data = pd.read_sql(query, conn)

In [59]:
print(data)

        SNO                                         Movie Name  \
0         1                                    The Dark Knight
1         2      The Lord of the Rings: The Return of the King
2         3                Spider-Man: Across the Spider-Verse
3         4                                          Inception
4         5  The Lord of the Rings: The Fellowship of the Ring
...     ...                                                ...
1804  1,745                        Mortal Kombat: Annihilation
1805  1,746                                               Krym
1806  1,747                                          Barb Wire
1807  1,748              Spy Kids 4: All the Time in the World
1808  1,749                                              D-War

          Director Name1 Director Name2       Director Name3 Duration  \
0      Christopher Nolan           None                 None  152 min
1          Peter Jackson           None                 None  201 min
2     Joaquim Dos Santos    Kemp Powers   Justin K. Thompson  140 min
3      Christopher Nolan           None                 None  148 min
4          Peter Jackson           None                 None  178 min
...                  ...            ...                  ...      ...
1804    John R. Leonetti           None                 None   95 min
1805     Aleksey Pimanov           None                 None   99 min
1806         David Hogan           None                 None   98 min
1807    Robert Rodriguez           None                 None   89 min
1808      Hyung-rae Shim           None                 None  107 min

          Year  Rating  Metascore  \
0         2008     9.0       84.0
1         2003     9.0       94.0
2         2023     8.9       86.0
3         2010     8.8       74.0
4         2001     8.8       92.0
...        ...     ...        ...
1804      1997     3.6       11.0
1805  I) (2017     3.6        NaN
1806      1996     3.5       40.0
1807      2011     3.5       37.0
1808      2007     3.5       33.0

                                             Movie Name  ...  \
0                                       The Dark Knight  ...
1         The Lord of the Rings: The Return of the King  ...
2                   Spider-Man: Across the Spider-Verse  ...
3                                             Inception  ...
4     The Lord of the Rings: The Fellowship of the Ring  ...
...                                                 ...  ...
1804                        Mortal Kombat: Annihilation  ...
1805                                               Krym  ...
1806                                          Barb Wire  ...
1807              Spy Kids 4: All the Time in the World  ...
1808                                              D-War  ...

                Stars Name2         Stars Name3         Stars Name4  \
0              Heath Ledger       Aaron Eckhart       Michael Caine
1           Viggo Mortensen        Ian McKellen       Orlando Bloom
2          Hailee Steinfeld   Brian Tyree Henry   Luna Lauren Velez
3      Joseph Gordon-Levitt         Elliot Page        Ken Watanabe
4              Ian McKellen       Orlando Bloom           Sean Bean
...                     ...                 ...                 ...
1804            Talisa Soto         James Remar         Sandra Hess
1805        Evgeniya Lapova       Pavel Kraynov      Pavel Trubiner
1806          Amir AboulEla   Adriana Alexander      David Andriole
1807           Jeremy Piven         Joel McHale     Rowan Blanchard
1808          Amanda Brooks      Robert Forster      Craig Robinson

          Votes     Genre1               Genre2                  Genre3  \
0     2,739,255     Action                Crime       Drama
1     1,898,117     Action            Adventure       Drama
2       182,431  Animation               Action   Adventure
3     2,430,810     Action            Adventure      Sci-Fi
4     1,926,549     Action            Adventure       Drama
...         ...        ...                  ...                     ...
1804     56,693     Action            Adventure     Fantasy
1805     33,496     Action    Drama                                None
1806     30,451     Action   Sci-Fi                                None
1807     27,159     Action            Adventure      Comedy
1808     25,068     Action                Drama     Fantasy

     Gross Collection Popularity  Certification
0            $534.86M        9.0             UA
1            $377.85M        9.0              U
2               *****        8.9              U
3            $292.58M        8.8             UA
4            $315.54M        8.8              U
...               ...        ...            ...
1804          $35.93M        3.6             UA
1805            *****        3.6           None
1806           $3.79M        3.5             UA
1807          $38.54M        3.5             PG
1808          $10.98M        3.5          PG-13

[1809 rows x 21 columns]

In [70]:
#subquery 3
# Find the maximum gross collection value from both tables
max_gross = data["Gross Collection"].max()

# Filter the DataFrame to get rows with the highest gross collection
highest_gross_movies = data[data["Gross Collection"] == max_gross]

# Display the details of movies with the highest gross collection
print("Movies with the highest gross collection:")
print(highest_gross_movies)

Movies with the highest gross collection:
        SNO                           Movie Name      Director Name1  \
2         3  Spider-Man: Across the Spider-Verse  Joaquim Dos Santos
8         9                      Soorarai Pottru       Sudha Kongara
12       13                              Seppuku    Masaki Kobayashi
13       14                           Sita Ramam    Hanu Raghavapudi
23       24                               Kaithi    Lokesh Kanagaraj
...     ...                                  ...                 ...
1773  1,716                             Shehzada        Rohit Dhawan
1775  1,718                                 Cell        Tod Williams
1788  1,730                         Coolie No. 1        David Dhawan
1794  1,736                 Escape Plan 2: Hades    Steven C. Miller
1805  1,746                                 Krym     Aleksey Pimanov

     Director Name2       Director Name3 Duration      Year  Rating  \
2       Kemp Powers   Justin K. Thompson  140 min      2023     8.9
8              None                 None  153 min      2020     8.7
12             None                 None  133 min      1962     8.6
13             None                 None  163 min      2022     8.6
23             None                 None  145 min      2019     8.4
...             ...                  ...      ...       ...     ...
1773           None                 None  142 min      2023     4.5
1775           None                 None   98 min  I) (2016     4.4
1788           None                 None  134 min      2020     4.2
1794           None                 None   96 min      2018     3.9
1805           None                 None   99 min  I) (2017     3.6

      Metascore                           Movie Name  ...         Stars Name2  \
2          86.0  Spider-Man: Across the Spider-Verse  ...    Hailee Steinfeld
8           NaN                      Soorarai Pottru  ...        Paresh Rawal
12         85.0                              Seppuku  ...      Akira Ishihama
13          NaN                           Sita Ramam  ...       Mrunal Thakur
23          NaN                               Kaithi  ...              Narain
...         ...                                  ...  ...                 ...
1773        NaN                             Shehzada  ...         Kriti Sanon
1775       38.0                                 Cell  ...   Samuel L. Jackson
1788        NaN                         Coolie No. 1  ...       Sara Ali Khan
1794        NaN                 Escape Plan 2: Hades  ...       Dave Bautista
1805        NaN                                 Krym  ...     Evgeniya Lapova

             Stars Name3         Stars Name4    Votes     Genre1  \
2      Brian Tyree Henry   Luna Lauren Velez  182,431  Animation
8      Aparna Balamurali             Urvashi  119,991     Action
12        Shima Iwashita       Tetsurô Tanba   62,029     Action
13     Rashmika Mandanna             Sumanth   61,367     Action
23             Arjun Das       George Maryan   36,741     Action
...                  ...                 ...      ...        ...
1773        Paresh Rawal     Manisha Koirala   30,262     Action
1775    Isabelle Fuhrman       Clark Sarullo   29,294     Action
1788        Paresh Rawal      Jaaved Jaaferi   73,920     Action
1794      Xiaoming Huang      Jesse Metcalfe   33,669     Action
1805       Pavel Kraynov      Pavel Trubiner   33,496     Action

                  Genre2                  Genre3 Gross Collection Popularity  \
2                 Action   Adventure                        *****        8.9
8      Drama                                None            *****        8.7
12                 Drama     Mystery                        *****        8.6
13                 Drama     Mystery                        *****        8.6
23             Adventure       Crime                        *****        8.4
...                  ...                     ...              ...        ...
1773              Comedy       Drama                        *****        4.5
1775           Adventure      Horror                        *****        4.4
1788              Comedy     Romance                        *****        4.2
1794               Crime     Mystery                        *****        3.9
1805   Drama                                None            *****        3.6

      Certification
2                 U
8                 U
12             None
13                U
23               UA
...             ...
1773             UA
1775              R
1788             UA
1794              A
1805           None

[288 rows x 21 columns]

In [71]:
#subquery4
# Find the maximum rating value from both tables
max_rating = data["Rating"].max()

# Filter the DataFrame to get rows with the highest rating
highest_rated_movies = data[data["Rating"] == max_rating]

# Display the details of movies with the highest rating
print("Movies with the highest rating:")
print(highest_rated_movies)

Movies with the highest rating:
  SNO                                     Movie Name     Director Name1  \
0   1                                The Dark Knight  Christopher Nolan
1   2  The Lord of the Rings: The Return of the King      Peter Jackson

  Director Name2 Director Name3 Duration  Year  Rating  Metascore  \
0           None           None  152 min  2008     9.0       84.0
1           None           None  201 min  2003     9.0       94.0

                                      Movie Name  ...       Stars Name2  \
0                                The Dark Knight  ...      Heath Ledger
1  The Lord of the Rings: The Return of the King  ...   Viggo Mortensen

      Stars Name3     Stars Name4      Votes  Genre1      Genre2  \
0   Aaron Eckhart   Michael Caine  2,739,255  Action       Crime
1    Ian McKellen   Orlando Bloom  1,898,117  Action   Adventure

               Genre3 Gross Collection Popularity  Certification
0   Drama                     $534.86M        9.0             UA
1   Drama                     $377.85M        9.0              U

[2 rows x 21 columns]

In [72]:
#subquery5
# Find the minimum gross collection value from both tables
min_gross = data["Gross Collection"].min()

# Filter the DataFrame to get rows with the lowest gross collection
lowest_gross_movies = data[data["Gross Collection"] == min_gross]

# Find the minimum rating value from both tables
min_rating = data["Rating"].min()

# Filter the DataFrame to get rows with the lowest rating
lowest_rated_movies = data[data["Rating"] == min_rating]

# Combine the two filtered DataFrames to get movies with both lowest gross collection and lowest rating
lowest_gross_and_rated_movies = pd.concat([lowest_gross_movies, lowest_rated_movies], ignore_index=True)

# Display the details of movies with the lowest gross collection and lowest rating
print("Movies with the lowest gross collection and lowest rating:")
print(lowest_gross_and_rated_movies)

Movies with the lowest gross collection and lowest rating:
     SNO                             Movie Name    Director Name1  \
0    164              Knockin' on Heaven's Door       Thomas Jahn
1    993                           Son of a Gun      Julius Avery
2  1,312                          The Condemned       Scott Wiper
3  1,508                              Wild Card        Simon West
4  1,747                              Barb Wire       David Hogan
5  1,748  Spy Kids 4: All the Time in the World  Robert Rodriguez
6  1,749                                  D-War    Hyung-rae Shim

  Director Name2 Director Name3 Duration  Year  Rating  Metascore  \
0           None           None   87 min  1997     7.8        NaN
1           None           None  108 min  2014     6.4       49.0
2           None           None  114 min  2007     6.0       23.0
3           None           None   92 min  2015     5.6       40.0
4           None           None   98 min  1996     3.5       40.0
5           None           None   89 min  2011     3.5       37.0
6           None           None  107 min  2007     3.5       33.0

                              Movie Name  ...         Stars Name2  \
0              Knockin' on Heaven's Door  ...   Jan Josef Liefers
1                           Son of a Gun  ...    Brenton Thwaites
2                          The Condemned  ...        Vinnie Jones
3                              Wild Card  ...    Michael Angarano
4                              Barb Wire  ...       Amir AboulEla
5  Spy Kids 4: All the Time in the World  ...        Jeremy Piven
6                                  D-War  ...       Amanda Brooks

            Stars Name3         Stars Name4   Votes  Genre1  \
0   Thierry van Werveke    Moritz Bleibtreu  32,302  Action
1       Alicia Vikander   Brendan Kerkvliet  28,937  Action
2          Nathan Jones      Robert Mammone  53,579  Action
3        Dominik Garcia    Milo Ventimiglia  58,065  Action
4     Adriana Alexander      David Andriole  30,451  Action
5           Joel McHale     Rowan Blanchard  27,159  Action
6        Robert Forster      Craig Robinson  25,068  Action

                Genre2                 Genre3 Gross Collection Popularity  \
0                Crime     Comedy                       $0.00M        7.8
1                Crime      Drama                       $0.00M        6.4
2                Crime   Thriller                       $0.00M        6.0
3                Crime      Drama                       $0.00M        5.6
4   Sci-Fi                               None           $3.79M        3.5
5            Adventure     Comedy                      $38.54M        3.5
6                Drama    Fantasy                      $10.98M        3.5

   Certification
0           None
1              R
2              R
3              R
4             UA
5             PG
6          PG-13

[7 rows x 21 columns]

In [73]:
# Close the database connection
conn.close()